body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}


header {
    background-color: #2D3250;
    color: #F6B17A;
    text-align: center;
    padding: 20px 20em;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

ul li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #F6B17A;
    font-weight: bold;
}

a:hover {
    text-decoration: underline; 
}

section {
    margin: 20px;
}

.bioContainer {
    text-align: left;
    padding: 7em 20em;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.bioContainer img {
    width: 20em;
    height: 20em;
    margin-right: 20px;
}

footer {
    background-color: #2D3250;
    color: #F6B17A;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}