html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 100vh;
}

header {
    background-color: #2D3250;
    color: #F6B17A;
    text-align: center;
    font-size: 0.9em;
    padding: 1.5vh 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2vw solid #7077A1;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 11vh;
}

footer {
    background-color: #2D3250;
    color: #F6B17A;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;
    padding-left: 25%;
    padding-right: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 0.2vw solid #7077A1;
    box-shadow: 0 -0.5vw 1vw rgba(0, 0, 0, 0.2);
    z-index: 1000;
    height: 6vh;
}

/* Tabs navigator stylings */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #F6B17A;
    font-weight: bold;
    margin: 0 0.5vw; 
}

nav ul li a:hover, nav ul li a.active {
    color: #fff;
}

/* Main styling*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 15vh);
    padding: 2vw;
    box-sizing: border-box;
    margin-top: 11vh;
}

/* Sections styling */
section {
    width: 80%;
    max-width: 1100px;
    margin: 2vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Container stylings */
.sectionContentContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #424769;
    padding: 1vw;
    border: 3px solid #000;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
    height: 15vh;
    width: 90%;
    margin: 4em;
}

/* Image styling for content container*/
.sectionContentContainer img {
    position: absolute; 
    height: auto;
    padding-left: 2.5%;
}

.bio img {
    width: 25%;
    left: 1vw; 
}

.contact img {
    width: 35%;
    right: 1vw;
}

.mcmaster img {
    width: 25%;
    right: 1vw; 
}

.gfess img {
    width: 30%;
    left: 1vw; 
}

/* Text styling for content container */
.sectionContentContainer .text-content {
    font-size: 0.8em;
    color: #fff;
    flex: 1;
    padding: 1vw;
}

.bio .text-content {
    margin-left: 40%;
}

.contact .text-content {
    margin-right: 40%;
}

.mcmaster .text-content {
    margin-right: 40%;
}

.gfess .text-content {
    margin-left: 70%;
}

/* Expandable content styling */
.expandable-container {
    cursor: pointer;
    padding: 10px;
    background-color: #424769;
    color: white;
    border: 2px solid #000;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 1em;
    width: 100%;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.3);
}

.expandable-container .title {
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.expandable-container .content {
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 0;
}

/* Skills page styling */
.skills-container {
    max-width: 80%;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 5%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 1rem;
}

.skill-card {
    background-color: #424769;
    color: #ffffff;
    border: 2px solid #000;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-5px);
}

/* Download Resume Link */
.download-link {
    background-color: #2D3250; 
    color: #F6B17A;
    padding: 10px 20px;
    text-decoration: underline;
    display: inline-block;
    font-size: 1em;
}

.download-link:hover {
    color: #fff;
}

/* Font Size Scaling */
:root {
    font-size: calc(0.625vw + 0.625vh); 
}

.expandable-container .content ul {
    list-style-type: none; /* Removes default list bullets */
    padding-left: 0; /* Removes default padding */
}

.expandable-container .content ul li {
    position: relative; /* For custom bullet positioning */
    padding-left: 1em; /* Space for the custom bullet */
    margin-bottom: 0.65em; /* Space between list items */
}

.expandable-container .content ul li:before {
    content: '•'; /* Custom bullet */
    position: absolute; /* Absolute positioning relative to the li */
    left: 0; /* Position at the start of the li */
    color: #F6B17A; /* Bullet color */
}

.expandable-container .content ul li ul {
    padding-left: 2em; /* Indent nested lists */
}

.expandable-container .content ul li ul li:before {
    content: '◦'; /* Different bullet style for nested items */
}
